<p id="notice"><%= notice %></p>
<p>

	<%= image_tag("images.png", width: 60) if !@user.picture.present? %><br><br>

<h4><strong>Name:</strong>
	<%= @user.name.capitalize %><br><br></h4>

<h4><strong>City:</strong>
	<%= @user.city %>
</p></h4>

<% if logged_in? %>

<h4><%= "" if current_user.id == @user.id %>

<%= @user.name.capitalize %> made <%= @user.comments.size%> comments.</h4><br>

    
<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %>



<%#= link_to "Create a New Article", new_article_path, class: "new_article" %><br>


<% else %>
<%= link_to 'Back', users_path %>
<% end %>