<p id="notice"><%= notice %></p>
<p><%= image_tag("images.png", width: 60) if !@user.picture.present? %><br><br>

	<h4>Name:
		<strong><%= @user.name.capitalize %></strong><br><br>
	</h4>

	<h4>City:
		<strong><%= @user.city %></strong>
	</h4>
</p>
<h4><strong><%= @user.name.capitalize %></strong> made <%= @user.comments.size%> comments.<br>
</h4>


<% if current_user.id == @user.id %>
	<%= link_to "Create a New Article", new_article_path, class: "new_article" %><br>

	<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %> 

<% else %>

	<%= link_to 'Back', users_path %>
	
<% end %>