<p id="notice"><%= notice %></p>
<p>

	<%= image_tag("images.png", width: 60) if !@user.picture.present? %><br><br>

<strong>Name:</strong>
	<%= @user.name.capitalize %><br><br>

<strong>City:</strong>
	<%= @user.city %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
