<p id="notice"><%= notice %></p>
<p>

	<%= image_tag("images.png", width: 60) if !@user.picture.present? %><br><br>

<strong>Name:</strong>
	<%= @user.name.capitalize %><br><br>

<strong>City:</strong>
	<%= @user.city %>
</p>
<%= link_to 'Back', users_path %>
<% if logged_in? %>
    <% else %>
<%= link_to 'Edit', edit_user_path(@user) %> |



<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>