<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: "title" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, id: "body" %>
  </div>

  <% Subject.all.each do |s| %>
  <p>
  <label for="subject_id_<%= s.id%>"><%= s.name%></label>
  <input type="checkbox" name="article[subject_ids][]" value="<%= s.id%>" id="subject_id_<%= s.id %>">
  <%end%>

  <p>Create New Subject
  <%= f.fields_for :subjects, @article.subjects.build do |s| %>
  <%= s.text_field :name %></p>
  <%end%>
    <%= f.submit %>
  
  <% end %>
