<p id="notice"><%= notice %></p>

  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="/main.css"> -->
<h1>Articles</h1>

<body>
    <% if @articles.blank? %>
    <p>There are not any articles currently in the system.</p>
    <% else %>
      <ul id="articles">
        <%= page_entries_info @articles %>
        <%= paginate @articles, window: 2 %>
        <% @articles.each do |article| %>
        <%= render partial: "article", locals: {article: article} %>
        <% end %>
      </ul>
    <% end %><br>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/articles/" + id + "/body", function(data) {
      // Replace text of body-id div
      $("#body-" + id).html(data);
    });
  });
});
</script>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>

</body>
     



