<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @articles.blank? %>
      <p>There are not any articles currently in the system.</p>
      <% else %>

    <ul id = "articles">
      <%= page_entries_info @articles %>
      <%= paginate @articles, window: 2 %>
      <% @articles.each do |a| %>
      <li><%= link_to a.title, {:action => 'show', :id => a.id} -%></li>
      <div id="article-<%= a.id %>"><%= truncate(a.body) %></div>
  <button class="js-more" data-id="<%= a.id %>">More Info</button>
      <% end %>
    </ul>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript" charset="utf-8">

</script>

<%= link_to 'New Article', new_article_path %>
     



