<h1>New Article</h1>

<%= form_for @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :body %>
  <%= f.text_area :body %>
  <br />

  <% Subject.all.each do |s| %>
  
  <label for="subject_id_<%= s.id%>"><%= s.name%></label>
  <input type="checkbox" name="article[subject_ids][]" value="<%= s.id%>" id="subject_id_<%= s.id %>">
  <%end%>

  
  <%= f.fields_for :subjects, @article.subjects.build do |s| %>
  <%= f.label :subject %>
  <%= s.text_field :name %>
    <%end%>
      <%= f.submit %>
    <% end %>

<div id="articleResult">
  <h1 id="articleTitle"></h1>
  <p id="articleBody"></p>
  <p id="articleSubject"></p>
</div>




<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/articles', values);
      
      posting.done(function(data) {
      	var article = data;
      	$("#articleTitle").text(article["title"]);
        $("#articleBody").text(article["body"]);
        $("#articleSubject").text(article["subject"]);
      });
    });
  });
</script>


