<p id="notice"><%= notice %></p>
<p>
<h3><%= @article.title %></h3>

<p>
<strong>Body:</strong>
	<%= @article.body.capitalize %>
</p>

<p>
<strong>Subject:</strong>
	<%= @article.subject %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
 

<% @article.comments.each do |comment| %>
  <p>
  	"<%= comment.content.capitalize%> " - by <%= comment.user.name%><br>
   
  </p>
  <p><%= link_to "Add comment", new_article_comment_path(@article, @article.comments.build) %><br><br>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<hr />
<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
