<p id="notice"><%= notice %></p>

<a href="#" class="js-next" data-id="<%=@article.id%>">Next...</a>

<h1 class="articleTitle"><%= @article.title %></h1>
<p class="articleBody"><%= @article.body %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/articles/" + nextId + "/body", function(data) {
      $(".articleTitle").text(data["title"]);
      $(".articleBody").text(data["body"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
<p>
  <%= link_to "Comments", article_comments_path(@article), :class => "comments", :remote => true %>
</p>
<div class="comments">
  

</div>

<div class="center-text">
  <%= render 'comments/form' %>
</div>


    <script type="text/javascript" charset="utf8">
      $(function () {
        $('form').submit(function(event) {
          event.preventDefault();
          var values = $(this).serialize();
          var commenting = $.post('/comments', values);
          commenting.done(function(data) {
            var comment = data["content"];
            $("#commentBody").append(comment);
          });
        });
      });
    </script>












<%= link_to 'Back', articles_path %>
