<p id="notice"><%= notice %></p>

<a href="#" class="js-next" data-id="<%=@article.id%>">Next...</a>
<h3 class="articleTitle"><%= @article.title %></h3>
<p class="articleBody"><%= @article.body %></p>


<p>
  <%= link_to "Load comments", article_comments_path(@article), :class => "load_comments", :remote => true %>
</p>
<div class="comments">
	<%= render 'comments/comments' %>
</div>

<%#= form_for(@comment, :url => article_comments_path(@article)) do |f| %>
<%= form_for([@article, @comment], :remote => true) do |f| %>
	<%= f.text_area :content %>
	<p><%= f.submit %></p>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/articles/" + nextId + "/article_data", function(data) {
      $(".articleTitle").text(data["title"]);
      $(".articleBody").text(data["body"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>





<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
