<hr />
<p id="notice"><%= notice %></p>
<p>
<h3><%= @article.title.capitalize %></h3>

<p>
<strong>Body:</strong>
	<%= @article.body.capitalize %>
</p>


<p>
  <%= link_to "Load comments", article_comments_path(@article), :class => "load_comments", :remote => true %>
</p>
<div class="comments">
	<%= render 'comments/comments' %>
</div>

<%#= form_for(@comment, :url => article_comments_path(@article)) do |f| %>
<%= form_for([@article, @comment], :remote => true) do |f| %>
	<%= f.text_area :content %>
	<p><%= f.submit %></p>
<% end %>



<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
